<form [formGroup]="carsFormGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-4 ">
      <mat-form-field class="mat-input-wrapper">
        <input matInput placeholder="Vin" formControlName="vin">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-input-wrapper">
        <input matInput placeholder="Brand" formControlName="brand">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-input-wrapper">
        <input matInput placeholder="Year" formControlName="year">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-input-wrapper">
        <input matInput placeholder="Color" formControlName="color">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-input-wrapper">
        <input matInput placeholder="Price" formControlName="prices">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-input-wrapper">
        <input matInput placeholder="Type" formControlName="type">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"> 
        <button mat-raised-button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
<br><br><br>
<div class="row">
  <table mat-table [dataSource]="carsTamp" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="vin">
      <th mat-header-cell *matHeaderCellDef> Vin. </th>
      <td mat-cell *matCellDef="let element"> {{element.vin}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Brand </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="prices">
      <th mat-header-cell *matHeaderCellDef> Prices </th>
      <td mat-cell *matCellDef="let element"> {{element.prices}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">Action </th>
      <td mat-cell *matCellDef="let element" style="text-align:center">
         <button mat-raised-button class="btn btn-danger" (click)="onDelete(element.vin)">Delete</button> 
         <button mat-raised-button class="btn btn-success">Update</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>