<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/hikari" routerLinkActive="active-list-item">Hikari</a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-list-item">Dashboard</a>
      <a mat-list-item routerLink="/heroes" routerLinkActive="active-list-item">Heroes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <!-- <router-outlet></router-outlet> -->
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hikarinoyosa</span>
      
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
